* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 768px)
{
  .navbar-nav{
    height: 100vh;
    margin: 10% 0%!important;
  }
  .navbar-nav .nav-item{
    margin: 2%!important;
  }
}
.hover-white:hover {
  color: white !important;
}
/*BURGER ANIME*/
.menu-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  transition: transform 0.5s;
}

.menu-icon .icon_span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #fff;
  transition: background 0.5s, transform 0.5s;
  transition: background 0.5s steps(1, end);
}

.icon_span::before,
.icon_span::after {
  transform-origin: 100% 50%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 2px;
  transform: translateY(-8px);
  background-color: #fff;
  transition: transform 0.5s;
}

.icon_span::after {
  transform: translateY(8px);
}

.menu-icon:hover .icon_span::before {
  transform: translateY(-10px);
  transition: all 0.5s;
}

.menu-icon:hover .icon_span::after {
  transform: translateY(10px);
  transition: all 0.5s;
}

svg {
  opacity: 0;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 22 230;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
    opacity 0.5s steps(1, end);
}

.menu-icon.is-opened .icon_span {
  transition: background 0.5s steps(1, start);
  background-color: transparent;
}

.menu-icon.is-opened svg {
  opacity: 1;
  stroke-dasharray: 160;
  stroke-dashoffset: -65;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
    opacity 0.5s steps(1, start);
}

.menu-icon.is-opened .icon_span::before {
  transform: translateX(-3px) translateY(-8px) rotate(-45deg);
}

.menu-icon.is-opened .icon_span::after {
  transform: translateX(-3px) translateY(8px) rotate(45deg);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
