/* DE 576px JUSQUE 768px */
@media screen and (min-width: 576px) and (max-width: 768px){
  :root{
    --nav-color: #171933;
    --html-color: orangered;
    --css-color: rgb(52, 52, 255);
    --js-color: yellow;
    --py-color: yellow;
    --php-color: rgb(113, 52, 255);
    --title-font: 'Dancing Script', cursive;
}
  .container-hello {
    display: flex;
    align-items: center;
    margin-top: 200px !important;
    height: 300px !important;
    border-radius: 50px;
    background-color: var(--nav-color);
  }
  .pad {
    padding: 3% 6% !important;
  }
  .fenetre {
    height: 100px !important;
    margin: 2%;
  }
  .icon {
    width: 0.7rem !important;
    height: 0.7rem !important;
  }
  .hello {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px !important;
  }
  .wrap {
    color: white;
    font-size: 16px;
  }
  .hello .typewrite {
    color: white;
    font-size: 20px;
  }
  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* ABOUT */
  .container-about {
    display: flex;
    margin-top: 30px!important;
  }
  .left-side {
    display: flex;
    align-items: center;
    padding: 20px !important;
    background-color: var(--nav-color);
    margin: 5%;
    margin-right: 10%;
    border-radius: 50px;
  }
  .bxl-html5 {
    font-size: 20px!important;
    color: var(--html-color);
  }
  .bxl-css3 {
    font-size: 20px!important;
    color: var(--css-color);
  }
  .bxl-javascript {
    font-size: 20px!important;
    color: var(--js-color);
  }
  .bxl-python {
    font-size: 20px!important;
    color: var(--py-color);
  }
  .bxl-php {
    font-size: 20px!important;
    color: var(--php-color);
  }
  .ft-size {
    font-size: small;
  }
  .h1-about {
    font-family: var(--title-font);
    margin-top: 100px;
    font-style: italic;
    font-size: 60px!important;
    text-align: center;
    color: var(--nav-color);
  }
  .text-propos p {
    font-size: 14px!important;
  }
}

