.projet{
    background-color: #080116;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.title-projet{
    color: pink;
    font-size: 18px;
    padding: 30px 0;
}
#chope{
    border-radius: 10px;
}